@model GerenciadorDeLivrosLidos.Models.Livro

<h2>Livros</h2>
<table>
    <thead>
        <th>Titulo do Livro</th>
        <th>Autor</th>
        <th>Editar Livro</th>
        <th>Excluir Livro</th>
    </thead>
    <tbody>
        <tr>
            <td>Livro x</td>
            <td>Autor y</td>
            <td><a href="modal de adição e edição">Editar</a></td>
            <td><button onclick="Remove(this)"></button></td>
        </tr>
    </tbody>
</table>

<button type="submit">Salvar</button>

<!--  modal de inserção de livros-->
<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">

</div>